[Unit]
Description=Streaming service
After=dhcpcd.service

[Service]
Type=simple
Environment=TWITCH_KEY=__TKEY__
ExecStartPre=/usr/bin/sh /usr/bin/init-hdmi.sh
ExecStart=/usr/bin/python3 /usr/bin/stream.py

Restart=on-failure

[Install]
WantedBy=multi-user.target
